<h1>Listing downloads (paging by server: kaminari)</h1>

<div>

  <div id="downloads">

    <%= render :partial => "table" %>
  </div>

  <%= link_to_next_page @downloads, 'more', remote: true, id: 'more_link' %>

</div>
